:root {
    --primary-color: #8d1cf7;
    --accent-color: #fc0db0;
    --background-color: #121212;
}

body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

main {
    color: white;
    height: 100vh;
}

section {
    height: 100vh;
}

nav {}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav ul li a {
    color: #5888bc;
}

section.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    place-content: center;
    gap: 20px;
}

section.hero .hero-text {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    text-align: center;
    color: #83eab3;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: rgb(132, 132, 239);
}

.hero-text h2 {
    font-size: 1.4em;
    color: rgb(239, 90, 90);
}

.hero-text p {
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(83, 151, 239, 0.2);
    font-style: italic;
    font-family: Fjalla One;
    border-radius: 15px;

}

.hero-text p::before {
    content: "“";
    color: rgb(239, 153, 49);
    font-size: 3cap;
}

.hero-text p::after {
    content: "”";
    color: rgb(239, 153, 49);
    font-size: 3cap;
}


.text-accent {
    color: rgb(235, 248, 89);

}

.text-primary {
    color: rgb(250, 56, 56);
}

.hero img {
    height: 100%;
    max-width: 500px;
    object-fit: contain;
    border-radius: 15px;
    min-width: 200px;


}

section.project ul li img {
    border-radius: 15px;
}

section.skills ul {
    place-content: center;
    place-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 2rem;

}

section.skills ul li {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: o, 5rem;
}

section.skills ul li .skill-shadow {
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 1rem;
}

section.skills ul li .skill-bar1 {
    background-color: red;
    border-radius: 1rem;
    width: 70%;
    font-style: italic;
    padding: 0.5rem 0;
    font-size: 1em;
}

section.skills ul li .skill-bar2 {
    background-color: red;
    border-radius: 1rem;
    width: 70%;
    font-style: italic;
    padding: 0.5rem 0;
    font-size: 1em;
}

section.skills ul li .skill-bar3 {
    background-color: red;
    border-radius: 1rem;
    width: 70%;
    font-style: italic;
    padding: 0.5rem 0;
    font-size: 1em;
}


section.skills ul li .skill-bar4 {
    background-color: red;
    border-radius: 1rem;
    width: 70%;
    font-style: italic;
    padding: 0.5rem 0;
    font-size: 1em;
}

.skill-bar1 span.value {
    margin-left: 1rem;
}


.skill-bar2 span.value {
    margin-left: 1rem;
}

.skill-bar3 span.value {
    margin-left: 1rem;
}

.skill-bar4 span.value {
    margin-left: 1rem;
}

.skill-bar1 span.value::after {
    content: "%";
}

.skill-bar2 span.value::after {
    content: "%";
}

.skill-bar3 span.value::after {
    content: "%";
}

.skill-bar4 span.value::after {
    content: "%";
}

section.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.skills {
    background-image: url("Dragonball2-image.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



div .skill-bar1 {
    color: blue;
}

div .skill-bar2 {
    color: greenyellow;
}

div .skill-bar3 {
    color: yellow;
}

div .skill-bar4 {
    color: red;
}

li h31 {
    color: blue;
}

li h32 {
    color: rgb(252, 0, 0);
}

li h33 {
    color: rgb(252, 6, 47);
}

li h34 {
    color: rgb(17, 0, 255);
}

